body {
    padding-top: 50px;
}
.main-content {
    padding: 40px 15px;
}

div#history-table-div{
    height: 500px;
    overflow: auto;
}

div#history-graph-div{
    border-radius: 5px;
    border: 1px solid #dddddd;
}

div#history-table-div td,
div#history-table-div th{
    white-space:nowrap;
}

div.monitor-row{
    margin-top: 15px;
    margin-bottom: 15px;
}

div#channel-selection{
    display: inline-block;
}