.timeaxis-g path,
.timeaxis-g line {
    fill: none;
    stroke: black;
    stroke-width: 1px;

}

.yaxis-g path,
.yaxis-g line {
    fill: none;
    stroke: black;
    stroke-width: 1px;

}

.linepaths-g path {
    stroke: blue;
    stroke-width: 1;
    fill: none;
}

.circle-cursor circle{
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}