{% extends "base-with-navbar.html" %}

{% block main_content %}
    <div class="container-fluid">
        <div id="graph-table" class="row monitor-row">
            <div id="graph-div" class="col-md-7"></div>
            <div id="table-div" class="col-md-4 col-md-offset-1 panel panel-default"></div>
        </div>
        <div class="row monitor-row">
            <div class="form-inline col-md-8">
                <div class="form-group">
                    <label for="startdate">开始时间：</label>

                    <div class='input-group date' id="startdtpicker">
                        <input type='text' class="form-control" id="startdate"/>
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="enddate">结束时间：</label>

                    <div class='input-group date' id='enddtpicker'>
                        <input type='text' class="form-control" id="enddate"/>
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                    </div>
                </div>
                <div class="dropdown" id="channel-selection">
                    <button class="btn btn-default dropdown-toggle" type="button" id="channel-dropdown-button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="channel-dropdown-button" id="channel-dropdown-menu">
                    </ul>
                </div>
                <span><button class="btn btn-default" type="submit" id="datetime-btn">提交</button></span>
            </div>
        </div>
    </div>

    <link rel="stylesheet" href="../static/common/css/graph.css" type="text/css">
    <link rel="stylesheet" href="../static/libs/bootstrap-datetimepicker-4.17.37/css/bootstrap-datetimepicker.min.css"
          type="text/css">
    <script src="../static/libs/moment-2.11.2/js/moment.js"></script>
    <script src="../static/libs/bootstrap-datetimepicker-4.17.37/js/bootstrap-datetimepicker.min.js"></script>
    <script src="../static/libs/d3js-3.5.16/js/d3.min.js"></script>
    <script src="../static/common/js/button.js"></script>
    <script src="../static/common/js/graph.js"></script>
    <script type="text/javascript">
        $(function () {
            $('#startdtpicker').datetimepicker({
                format: "YYYY/MM/DD HH:mm:ss"
            });
            $('#enddtpicker').datetimepicker({
                format: "YYYY/MM/DD HH:mm:ss",
                useCurrent: false //Important! See issue #1075
            });
            $("#startdtpicker").on("dp.change", function (e) {
                $('#enddtpicker').data("DateTimePicker").minDate(e.date);
            });
            $("#enddtpicker").on("dp.change", function (e) {
                $('#startdtpicker').data("DateTimePicker").maxDate(e.date);
            });
        });
    </script>
    <script>
        $(function () {
            $("#channel-dropdown-menu").on("click", "li a",function () {
                $("#channel-dropdown-button:first-child")[0].childNodes[0].nodeValue=$(this).text();
            });
        });
    </script>
    <script>
        register_datetime_btn();
        var graph = new HistoryData();
        graph.init();
    </script>
{% endblock %}